body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

header {
  background: #020617;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.projeto {
  background: #020617;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

